{% extends "base.html" %}

{% block content %}

  <div class="jumbotron">
    <div class="container">

      <div class="row">    

        <div class="col-md-6">
          <h2>
            Miasto: <strong> {{city}} </strong>
          </h2>
        </div>
      <div class="col-md-4 col-md-offset-2">
        <form action="/cowork/search/" method="get">
            <label>Miasto: </label>
            <input type="text" name="q" class="form-control" />
        </form>
      </div>
    </div>
  </div>
  </div>
      {% for loc in locations %}
        <div class="container">
          <div class="content">
            <div class="logo">
            <img class="scale-with-grid" src="{{loc.company.company_logo.url}}" alt="My image"/>
            </div>
            <div class="company_name">
            <h4>
            {{loc.company.name}}
            </h4>
            <div class="desks">
            <p>
              Total desks: {{loc.total_desks}}
            </p>
            <p>
              Free desks: {{loc.free_desks}}
            </p>  
            <div class="price">
              Price per desk: {{loc.price}} $
            <div class="rent">
            <a href="#" class="btn btn-primary">
            Rent desk
            </a>
            </div>
            </div>
            </div>
            </div>
          </div>
        </div>
    {% endfor %}


{% endblock %}