
//MISC
//----
//@import "_vars";
//@import "_mixins";
@import "_colors.less";
@import "_lipsum.less";
@import "_core.less";

//-----------
@import "_header.less";
@import "_sidebar.less";

//Skins
//------
//@import "_skins";


.content{
	width:960px;
	padding:0;
	margin-left: auto;
	margin-right: auto;
}
.content .logo{
	float:left;
	width:20%;
	box-sizing:border-box;
	margin:0;

}
.content .company_name{
	float:left;
	padding:20px;
	width:50%;
	box-sizing:border-box;
}
.content .desks{
	height:100px;
	width:100%;
	display: table;
    margin: 0 auto;
    
}
.content .rent{
	height:100px;
	width:100%;
	margin:20px 0;
	right:70%;
	margin-left:50%
}